altgraph==0.17.4
blinker==1.8.2
certifi==2024.2.2        
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
DAWG-Python==0.7.2       
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
Flask-Login==0.6.3       
Flask-WTF==1.2.2
greenlet==3.1.1
idna==3.7
itsdangerous==2.2.0      
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.2
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.3.6
psycopg2-binary==2.9.9
pygame==2.6.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pymorphy3==2.0.1
pymorphy3-dicts-ru==2.4.417150.4580142
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pyTelegramBotAPI==4.18.1
pytz==2024.2
pywin32-ctypes==0.2.3
requests==2.31.0
setuptools==70.3.0
SQLAlchemy==2.0.29
sqlalchemy-serializer==1.4.22
telebot==0.0.5
typing_extensions==4.12.2
urllib3==2.2.1
virtualenv==20.26.5
Werkzeug==3.0.4
WTForms==3.2.1
