<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h2>И на Марсе будут яблони цвести!</h2>
        <h2>    Список профессий</h2>
        {% set prof_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
        'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите',
        'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода',
        'киберинженер', 'штурман', 'пилот дронов'] %}
        {% if type == "ol" %}
            {% for prof in prof_list %}
                <p>{{ loop.index }}. {{ prof }}</p>
            {% endfor %}
        {% elif type == "ul" %}
            {% for prof in prof_list %}
                <li>{{ prof }}</li>
                <br>
            {% endfor %}
        {% else %}
            <h4>Неверный параметр</h4>
        {% endif %}
    </body>
</html>